<div class="main_design">
<h1>This is our Main Page</h1>
<p>Welcome</p>
<br>
<%= link_to "Go to Sum Functions", math_functions_sum_path %>
<br>
<%= link_to "Go to Minus Functions", math_functions_minus_path %>
<br>
<%= link_to "Go to Division Functions", math_functions_division_path %>
<br>
<%= link_to "Go to Multiplication Functions", math_functions_multiplication_path %>
</div>